@tailwind base;
@tailwind components;
@tailwind utilities;

.light-heading {
    background-color: transparent;
    background-image: url("../assets/lightPaperHeading.png");
    background-size: 1920px 100%;
}

.light-paper {
    background-color: transparent;
    background-image: url("../assets/lightPaperFinal.png");
    background-size: 1920px 100%;
}

.dark-paper {
    background-image: url("../assets/dark-paper.png");
    background-attachment: fixed;
    background-size: 1920px 100%;
}

/*******************************************/

.fade-0 {
    opacity: 0;
    animation: fade-in linear forwards;
    animation-duration: 2s;
    animation-delay: 250ms;
}

.fade-1 {
    opacity: 0;
    animation: fade-in linear forwards;
    animation-duration: 2s;
    animation-delay: 500ms;
}

.fade-2 {
    opacity: 0;
    animation: fade-in linear forwards;
    animation-duration: 2s;
    animation-delay: 750ms;
}

.fade-3 {
    opacity: 0;
    animation: fade-in linear forwards;
    animation-duration: 2s;
    animation-delay: 1000ms;
}

.fade-4 {
    opacity: 0;
    animation: fade-in linear forwards;
    animation-duration: 2s;
    animation-delay: 1250ms;
}

.fade-5 {
    opacity: 0;
    animation: fade-in linear forwards;
    animation-duration: 2s;
    animation-delay: 1500ms;
}

.fade-6 {
    opacity: 0;
    animation: fade-in linear forwards;
    animation-duration: 2s;
    animation-delay: 1750ms;
}

.fade-7 {
    opacity: 0;
    animation: fade-in linear forwards;
    animation-duration: 2s;
    animation-delay: 2000ms;
}

.fade-8 {
    opacity: 0;
    animation: fade-in linear forwards;
    animation-duration: 2s;
    animation-delay: 2250ms;
}

.fade-9 {
    opacity: 0;
    animation: fade-in linear forwards;
    animation-duration: 2s;
    animation-delay: 2500ms;
}

.fade-10 {
    opacity: 0;
    animation: fade-in linear forwards;
    animation-duration: 2s;
    animation-delay: 2750ms;
}

.fade-11 {
    opacity: 0;
    animation: fade-in linear forwards;
    animation-duration: 2s;
    animation-delay: 3000ms;
}

.fade-out {
    opacity: 100;
    animation: fade-in linear forwards;
    animation-direction: reverse;
    animation-duration: 1s;
}

.fade-in {
    opacity: 0;
    animation: fade-in linear forwards;
    animation-duration: 1s;
    animation-delay: .5s;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

/*******************************************/

.rPadFix {
    padding-right: inherit;
}